
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="btn-group" role="group">
      <%= link_to 'Resources', resources_path,
        class: 'btn btn-default' %>
      <%= link_to 'Curriculums', curriculums_path,
        class: 'btn btn-default active' %>
    </div>
  <hr>
  <%= render @curriculums %>
  </div>
</div>
