
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1>Build a Curriculum</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <%= render 'curriculum_form_new' %>
  </div>
</div>
