
<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to 'Stats', '#' %></li>
  <li role="presentation"><%= link_to 'Curriculums', '#' %></li>
  <li role="presentation" class="active"><%= link_to 'Shared', '#' %></li>
</ul>

