
<div class="row">

  <div class="col-xs-1">
  </div>

  <div class="col-xs-11">

    <div class="panel panel-default comment">

      <div class="panel-body">

        <div class="row">

          <div class="col-xs-10">
            <p><strong><%= comment.display_author %>:</strong></p>
            <p><%= comment.body %></p>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
