
<% if curriculum = Curriculum.find_by(id: session[:curriculum_id]) %>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2>Editing <%= curriculum.title %></h2>
    </div>
  </div>

  <%= link_to "Finish Adding Resources",
    curriculum_path(curriculum),
    class: 'btn btn-success btn-lg',
    id: 'fixed-index-btn'  %>

<% end %>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <%= render @resources %>
  </div>
</div>
