<%= render partial: 'shared/top_show', locals: { resource: @resource, tags: @tags } %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <%= @resource.description %>
      </div>
    </div>
  </div>
</div>

</div>

<% @resource.comments.each do |comment| %>
  <%= render partial: "shared/comment", locals: { comment: comment } %>
<% end %>

<div class="row">

  <div class="col-xs-12">
    <%= render partial: "shared/comment_form", locals:
      { comment_path: url_for([@resource, :comments]) } %>
  </div>

</div>

<div class="footer">
  <p>Icons designed by Google from Flaticon</p>
</div>
