@import "bootstrap-sprockets";
@import "bootstrap";
@import "resources.scss";

/*
  > flash
  > layout
  > user profile
  > links
  > index button
  > user profile button
  > navbar form
*/

/* flash */
.flash-msg {
  position: absolute;
}

/* layout */
.tab-box-top {
  margin: 0 0 15px 0;
}

/* user profile */
.user-profile-box {
  padding: 20px 0 0 0;
  height: 600px;
}

/* link-group */
.link-group {
  > a {
    margin: 0 10px 0 0;
  }
}

/* form-links */
.form-links {
  margin: 15px 0 0 4px;
}

/* index-button */
#fixed-index-btn {
  position: fixed;
  left: 150px;
}

/* user profile btn */
.btn-user-profile {
  margin: 10px 0 0 0;
}

/* navbar search */
.navbar-form-low{
  position: absolute;
  left: 0;
}

.inline-headers h2, .inline-headers h4 {
  display: inline-block;
  vertical-align: baseline;
}

.btn-group {
  margin-top: 15px;
}
