@import "bootstrap-sprockets";
@import "bootstrap";

/*
  > flash
  > layout
  > user profile
  > links
*/

/* flash */
.flash-msg {
  position: absolute;
}

/* layout */
.tab-box-top {
  margin: 0 0 15px 0;
}

/* user profile */
.user-profile-box {
  padding: 20px 0 0 0;
}

/* link-group */
.link-group {
  > a {
    margin: 0 10px 0 0;
  }
}

/* form-links */
.form-links {
  margin: 15px 0 0 4px;
}
